extends ../layouts/main.pug
block title
  title about
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About Adan Abbi 
          
          p.
            Hello everyone, my name is Adan Abbi and I currently live in Seattle, Washington. I am a Web Developer who is
            passionate about making awesome websites and expanding my career in this profession. 
            
   
        div(class="col-md-4")
          img(src="/img/users.ico")
