extends ../layouts/main.pug
block title
  title about
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-3")
          h1 Contact Info 
          p.
            contact me at:
            
   
        div(class="col-md-3")
          <a href="https://www.facebook.com/"><img src="/img/facebook .png" alt=""></a>
          
        div(class="col-md-3")
          <a href="https://www.linkedin.com/"><img src="/img/linkedin.png" alt=""></a>

        div(class="col-md-3")
          <a href="mailto:adanabbi206@gmail.com"><img src="/img/google.png" alt=""></a>
          
