extends ../layouts/main.pug
block title
  title homepage
block content
   section(class="topheader")
     div(class="topleft")
       h1 WEB DEVELOPER
     div(class="topright") 
       img(src="/img/computer.png")
   
   section(class="blog")
     div(class="post")
     div(class="post")
     div(class="post")
     div(class="post")
     div(class="post")
     div(class="post")
       
