extends ../layouts/main.pug
block title
  title Blogs
block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 Blog Page in construction...
          
          img(src="http://alphatech-ltd.com/sites/default/files/work-in-progress-1024x603.png")
            
   
        //- div(class="col-md-4")
        //-   img(src="/img/users.ico")
