extends ../layouts/main.pug
block title
  title projects
block content
  div(class="container projects-page index-page")
     h2 Show All Projects
      <a href="http://adanabbi.com/WeatherZone/#!/">
      div(class="row") 
         div(class="col-md-4")
          div(class="content-box")
            div(class="project-img", style="background: url('/img/Weatherzone.png') no-repeat center center ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%; min-height: 300px;")
              div(class="inside")
                div
                  
                  h4 WeatherZone
                  div(class="tag")
                    div(class="pill") #angularjs
                    div(class="pill") #html
                    div(class="pill") #css
                    div(class="pill") #javascript
                    
          
              
              </a>
              
              
                
         <a href="http://adanabbi.com/wats1020-flickr-search/"> 
         div(class="col-md-4")
          div(class="content-box")
            div(class="project-img", style="background: url('/img/flickr.png') no-repeat center center ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%; min-height: 300px;")
              div(class="inside")
                div
                  
                  h4 Flickr Search
                  div(class="tag")
                    div(class="pill") #Flickr-API
                    div(class="pill") #html
                    div(class="pill") #css
                    div(class="pill") #javascript
          
           
                    
              </a>
         <a href="http://adanabbi.com/Safari-Food/">
         div(class="col-md-4")
          div(class="content-box")
            div(class="project-img", style="background: url('/img/safari.png') no-repeat center center ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%; min-height: 300px;")
             div(class="inside")
               div
                 
                 h4 Safari-Food
                 div(class="tag")
                   div(class="pill") #angularjs
                   div(class="pill") #html
                   div(class="pill") #css
                   div(class="pill") #javascript
          
             </a>
      <a href="http://adanabbi.com/GYM-XPRESS/">         
      div(class="row") 
        div(class="col-md-4")
         div(class="content-box")
           div(class="project-img", style="background: url('/img/gym.png') no-repeat center center ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%; min-height: 300px;")
             div(class="inside")
               div
                 
                 h4 GYM-XPRESS
                 div(class="tag")
                   
                   div(class="pill") #html
                   div(class="pill") #css
                   div(class="pill") #javascript
         
         div(class="link") 
             
             </a>
               
        <a href="http://adanabbi.com/wats1010-product-page/#">
        div(class="col-md-4")
         div(class="content-box")
           div(class="project-img", style="background: url('/img/product.png') no-repeat center center ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%; min-height: 300px;")
             div(class="inside")
               div
                 
                 h4 Product-Page 
                 div(class="tag")
                   div(class="pill") #html
                   div(class="pill") #css
                   
                   
         
               
             </a>
        <a href="https://www.google.com/">
        div(class="col-md-4")
         div(class="content-box")
           div(class="project-img", style="background: url('/img/capstone.jpg') no-repeat center center ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width: 100%; min-height: 300px;")
            div(class="inside")
              div
                
                h4 Capstone
                div(class="tag")
                  div(class="pill") #angular 4
                  div(class="pill") #html
                  div(class="pill") #css
                  div(class="pill") #TypeScript
        
           
            </a>       
